.oioi{
    background: linear-gradient(to bottom, #080231, #5a546e);
    display: flex;
    width: 100%;
}
.ft{
    position: relative;
    top: 38px;
    left: 870px;
}
.titulo{
    position: relative;
   font-size: 55px;
    font-family: Georgia;
   top: 100px;
   color: rgb(238, 238, 238);
   left: 480px;
}
