.part1{
    background-color: #2348C8;
    .fundo{
        width: 100%;

    }
}

.cabecario{
    display: flex;
    justify-content: space-around;
    background-color: #2348C8;
    font-family: Inknut Antiqua;

    .logo{
        width: 100px;
        }
}